<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="box-title; 15%" style="color: black; text-align: center;">LISTA DE CELULAR</h2>

        </div>
        <div class="card-body">
            <table class="table ">
                <thead>
                    <tr>
                    <th scope="col">Codigo del Celular:</th>
                    <th scope="col">Marac:</th>
                    <th scope="col">Modelo:</th>
                    <th scope="col">Color:</th>
                    <th scope="col">Precio:</th>
                    <th scope="col">Capacidad:</th>
                    <th scope="col">Editar:</th>
                    <th scope="col">Eliminar:</th>
                    </tr>
                </thead>

                
                <tbody class="table-group-divider">
                    <tr *ngFor="let c of cel">
                    <td>{{c.idCelular}}</td>
                    <td>{{c.marca}}</td>
                    <td>{{c.modelo}}</td>
                    <td>{{c.color}}</td>
                    <td>{{c.precio}}</td>
                    <td>{{c.capacidad}}</td>
                    <td><button type="button" class="btn btn-warning mx-5" (click)="editarC(c)" >editar</button></td>
                    <td><button type="button" class="btn btn-danger mx-5" (click)="eliminarC(c)" >eliminar</button></td>
                </tr>
                </tbody>
            </table>

            

        </div>

    </div>

</div>